#bg{
    position: relative;
   background-color: black; 
   height: 53vw;
   width: 98vw;

}
#clockstuff button{
color: rgb(6, 128, 236);
position: relative;
margin-top: 41vw;
margin-left: 14vw;
text-decoration: solid;
font-style: italic;
cursor: pointer;
height: 8%;
border-radius: 28%;
font-weight: bold;
}

#clockstuff button:hover{
    color: rgb(0, 0, 0);
    background-color: azure;
}
#clockstuff {
    background-color: rgb(224, 130, 130);
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png)no-repeat;
    background-size: 100%;
    top: 11%;
}
#bg a{
    left: 1%;
    bottom: -6%;
    position: relative;
    font-size: x-large;
    font-weight: 700;
    margin-left: 42%;
    color: white;
    border-color: aliceblue;
    text-decoration: none;
}


#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.3%;
    height: 27%;
    bottom: 50.5%;
    left: 50.4%;

}

#minute {
    width: 0.9%;
    height: 30%;
    bottom: 50%;
    left: 49.4%;

}

#second {

    width: 0.6%;
    height: 35%;
    bottom: 50%;
    left: 49.4%;


}